.ulMenu {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

header{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    height: 100px;
}

a{
    font-size: var(--tamanho_link);
    text-decoration: none;
    color: #292525;
}

a:hover{
    color: #292525;
}

@media screen and (max-width:600px) {
    header {
        position: fixed;
        width: 100px;
        height: 100px;
    }
    
    a {
        font-size: var(--tamanho_link);
    }

    .imgmobile{
        width: 80px;
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
}

.imgmobile {
    display: none;
}