:root {
    --cor_de_fundo: rgb(82, 81, 80);
    --tamanho_link: 1.5rem;
    
}

body {
    background-color: var(--cor_de_fundo);
}

h1 {
    font-weight: bold;
    z-index: 10;
}

footer {
    margin-left: 10px;
}

table{
    border-collapse: collapse;
}

th{
    background-color: green;
}

td {
    background-color: aliceblue;
}

td,th {
    border: 2px solid;
    padding: 2px;

}

fieldset {
    width: 50vw;
    color: rgb(0, 0, 0);
    border: 1px solid white;
    padding: 10px;
    margin: 20px;
}

fieldset label {
    font-weight: normal;
}

@media screen and (orientation: landscape){ /* Regra para janelas paisagem */
    .paisagem, .retrato{
        display: none;
    }
}

@media screen and (orientation: portrait) { /* Regra para janelas retrato */
    .paisagem{
        display: block;
    }
}

@media screen and (min-width:601px) { /* Regra para janelas com mais de 600px */
    main {
        min-height: calc(100vh - 16px - 100px);
    }
}

@media screen and (max-width:600px) { /* Regra para janelas com 600px ou menos */

    main,
    footer {
        margin-left: 100px;
    }

    main {
        min-height: calc(100vh - 16px);
    }
}